<div id="bq-status-window">
    <div class="bq-status-left-pane">
        <div class="bq-status-playername">
            <span class="bq-status-label">Name</span>
            <span class="bq-status-value"><%=name %></span>
        </div>
        <div class="bq-status-level">
            <span class="bq-status-label">Lv</span>
            <span class="bq-status-value"><%=lv %></span>
        </div>
        <div class="bq-status-job">
            <span class="bq-status-label">Job</span>
            <span class="bq-status-value">すっぴん</span>
        </div>
        <div class="bq-status-equipment">
            <div class="bq-status-label">Equipment</div>
            <span class="bq-status-player-preview"></span>
            <span class="bq-status-equipment-item bq-status-head">頭</span>
            <span class="bq-status-equipment-item bq-status-left-arm">左武器</span>
            <span class="bq-status-equipment-item bq-status-right-arm">右武器</span>
            <span class="bq-status-equipment-item bq-status-core">コア</span>
            <span class="bq-status-equipment-item bq-status-backpack">背中</span>
            <span class="bq-status-equipment-item bq-status-foot">足</span>
        </div>

    </div>
    <div class="bq-status-right-pane">
        <div class="bq-status-status-title bq-status-label">Status</div>

        <div class="bq-status-attack">
            <span class="bq-status-label">攻撃力</span>
            <span class="bq-status-value"><%=attack %></span>
        </div>
        <div class="bq-status-defence">
            <span class="bq-status-label">防御力</span>
            <span class="bq-status-value"><%=defence %></span>
        </div>

        <div class="bq-status-base">

            <div class="bq-status-base-con">
                <span class="bq-status-label">CON</span>
                <span class="bq-status-value"><%=status.con %></span>
            </div>
            <div class="bq-status-base-int">
                <span class="bq-status-label">INT</span>
                <span class="bq-status-value"><%=status.int %></span>
            </div>
            <div class="bq-status-base-str">
                <span class="bq-status-label">STR</span>
                <span class="bq-status-value"><%=status.str %></span>
            </div>

            <div class="bq-status-base-def">
                <span class="bq-status-label">DEF</span>
                <span class="bq-status-value"><%=status.def %></span>
            </div>
            <div class="bq-status-base-sns">
                <span class="bq-status-label">SNS</span>
                <span class="bq-status-value"><%=status.sns %></span>
            </div>
            <div class="bq-status-base-luk">
                <span class="bq-status-label">LUK</span>
                <span class="bq-status-value"><%=status.luk %></span>
            </div>
        </div>
        <div class="bq-status-bonus">
            <span class="bq-status-label">Status Bonus</span>
            <span class="bq-status-value">0</span>
        </div>
    </div>
</div>